
<!-- START ABOUT SECTION -->
{% block aboutUs %}
<section id="about" class="section-padding about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title">
                            <h2>ABOUT US</h2>
                            <p>Energy Safe Victoria is an independent government agency responsible for the safe generation,
                                supply and use of electricity, gas and pipelines. The major roles of ESV are :
                                1) License Victoria’s electrical workers ;
                                2) Issue and audit Certificates of Electrical Safety (COES);
                                3) Ensure gas and electrical appliances are approved and safe for use;
                                4) Investigate gas and electrical incidents;
                                5) Educate the community about energy safety via safety awareness campaigns;
                                6) Oversee major industry safety cases and safety management schemes for the design, construction and maintenance of electricity, gas and pipeline networks across the state;
                                7) Oversee bushfire mitigation programs and
                                8) Oversee tree clearance around powerlines.


                               </p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 work">
                                <h3>What is this project all about?</h3>
                                <p>Electricity distribution businesses reports any electrical network-related incidents
                                    to Energy Safe Victoria as part of
                                    their regulatory obligations.</p>
                                <p> This project aims to analyse these datasets to see any trends and patterns that lead
                                    to
                                    these incidents from occurring.</p>

<!--                                <a class="btn-wt-bdr2" href="#classifiers">Get Started</a>-->
                            </div>
                            <div class="col-md-6">
                                <img src="assets/img/project_img.jpg" alt="about">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block aims %}

<section class="section-padding about-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 aims-holder">
                        <img class="img-aims" src="assets/img/aims.png" alt="aims"/>
                    </div>
                    <div class="col-md-8">
                        <h2>Our Aims</h2>
                        <ul>
                            <li> To figure out if there is any place that
                                has high vegetation contact related incident rate
                                but low inspection rate or vice versa
                            </li>
                            <li> To profile non-compliant cases and to check if
                                there are any trends or patterns
                            </li>
                            <li> To build a recommender for locations of next year inspections
                            </li>
                        </ul>
<!--                        <a class="btn-wt-bdr2" href="">Get Started</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}