{% block tech_stack %}
    <!-- START SERVICES SECTION -->

<section id="services" class="section-padding features">
    <div class="container">
            <div class="col-md-12">
                <div class="title">
                    <h2> <span> Tech Stack </span> </h2>
                </div>

                <div class="col-md-6">
                    <h3>Python<br/></h3>
                     <div >
                        <h4>Scikit-learn</h4>
                        <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/scikit-learn.png"
                                               alt="scikit-learn image" width="65" height="50"></div>
                        <p>Scikit-learn is an open source machine learning library that supports supervised and unsupervised learning.
                            It also provides various tools for model fitting, data preprocessing, model selection and evaluation,
                            and many other utilities. (Ref. https://scikit-learn.org/)</p>
                         <div class="col-md-4">
                        <a class="btn3 m-b80" href="https://scikit-learn.org/" target="_blank">More Info</a>
                             </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <h3>Framework<br/></h3>
                    <div>
                        <h4>Flask</h4>
                        <div class="col-md-4"><img class="img-thumbnail" src="assets/img/gallery/python-logo.png"
                                               alt="flask image" width="65" height="50"></div>
                        <p>Flask is a micro web framework written in Python. It is classified as a
                            microframework because it does not require
                            particular tools or libraries. (Ref. Wikipedia)</p><br><br>
                        <div class="col-md-4">
                        <a class="btn3 m-b80" href="https://github.com/pallets/flask" target="_blank">More Info</a>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6">
                     <h3>IDE<br/></h3>
                     <div>
                        <h4>PyCharm</h4>
                        <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/pycharm.png"
                                               alt="pycharm image" width="65" height="50"></div>
                        <p>PyCharm is an integrated development environment (IDE) used specifically for the Python language.
                            It is developed by the company JetBrains. It provides code analysis, a graphical debugger,
                            an integrated unit tester, integration with version control systems,
                            and supports web development with Django
                            as well as data science with Anaconda. (Ref. Wikipedia)</p>
                          <div class="col-md-4">
                        <a class="btn3 m-b80" href="https://www.jetbrains.com/pycharm/" target="_blank">More Info</a>
                          </div>
                     </div>
                 </div>

                 <div class="col-md-6">
                    <h3>Version Control<br/></h3>
                    <div >
                        <h4>Git (Bitbucket)</h4>
                        <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/bitbucket.png"
                                               alt="bitbucket image" width="65" height="50"></div>
                        <p>Bitbucket is a web-based version control repository hosting service owned by
                            Atlassian, for source code and development
                            projects that use either Mercurial or Git revision control systems. Bitbucket offers
                            both commercial plans and free
                            accounts. (Ref. Wikipedia)</p> <br>
                         <div class="col-md-4">
                        <a class="btn3 m-b80"
                           href="https://bitbucket-students.deakin.edu.au/projects/D2IC-PG/repos/d2i---deakin-energy_2020t3/browse" target="_blank">More
                            Info</a>
                         </div>
                    </div>
                 </div>


                <div class="col-md-12">
                    <h3>Data Science<br/></h3>
                    <div class="col-md-6">
                        <h4>Jupyter Notebook</h4>
                        <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/jupyter.png"
                                               alt="jupyter image" width="65" height="50"></div>
                        <p>The Jupyter Notebook is an open-source web application that allows you to create and
                            share documents that contain live
                            code, equations, visualizations and narrative text. (Ref. https://jupyter.org/)</p>
                         <div class="col-md-4">
                        <a class="btn3 m-b80" href="https://jupyter.org/" target="_blank">More Info</a>
                         </div>
                    </div>

                    <div class="col-md-6">
                        <h4>Google Colab</h4>
                        <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/google-colab.png"
                                               alt="google-colab image" width="65" height="50"></div>
                        <p>Colab is a Python development environment that runs in the browser using Google Cloud. (Ref. https://colab.research.google.com/)</p>
                        <br>
                        <div class="col-md-4">
                            <a class="btn3 m-b80" href="https://colab.research.google.com/" target="_blank">More Info</a>
                        </div>
                    </div>
                </div>

                        <div class="col-md-12">
                            <h3>Web Development<br/></h3>
                            <div class="col-md-6">
                                <h4>Bootstrap</h4>
                                <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/bootstrap.png"
                                                       alt="bootstrap image" width="65" height="50"></div>
                                <p>Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web
                                    development. It contains CSS and JavaScript-based design templates for typography, forms, buttons,
                                    navigation, and other interface components. (Ref. Wikipedia)</p>
                                 <div class="col-md-4">
                                <a class="btn3 m-b80" href="https://getbootstrap.com/" target="_blank">More Info</a>
                                 </div>
                            </div>
                             <div class="col-md-6">
                                <h4>Javascript</h4>
                                 <div class="col-md-3"><img class="img-thumbnail" src="assets/img/gallery/javascript.png"
                                                       alt="sample image" width="65" height="50"></div>
                                <p>JavaScript is high-level programming language, often just-in-time compiled, and multi-paradigm. It has curly-bracket syntax,
                                    dynamic typing, prototype-based object-orientation, and first-class functions. (Ref. Wikipedia)</p>
                                 <br>
                                  <div class="col-md-4">
                                <a class="btn3 m-b80" href="https://www.javascript.com/" target="_blank">More Info</a>
                                  </div>
                             </div>
                        </div>
                </div>
        </div>
</section>



{% endblock %}

{% block our_team %}
<section id="Trello" class="section-padding team-box">
    <!--{% if scroll %}-->
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        <!--{% endif %}-->

          <!-- START BLOG SECTION -->
        <section id="team-section" class="section-padding blog">
            <div class="title">
                <h2>OUR <span>TEAM</span></h2>
            </div>

        </section>

</section>
{% endblock %}