{# {% extends "base.html" %} #}
<!-- Product Pipeline -->
{% block product_pipeline %}
    <section id="productPipeline" class="section-padding features">
     <div class="container col-lg-offset-1 col-lg-10">
             <div class="row">
        <h1>Product Pipeline</h1>
                 <p>The pipeline below explains the overview of methodology that was used to process the data, analyze, and produce the findings in various formats.</p>
                 <img src="assets/img/gallery/product_pipeline.png" />
             </div>
             </div>
     </div>
     </section>
{% endblock %}